<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{ISO8601} | %-5.5p | %-10.10t | %-50.50c{1} | %-25.25C{0} %4L | %m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>maven-training-server.log</file>
		<encoder>
			<pattern>%d{ISO8601} | %-5.5p | %-10.10t | %-50.50c{1} | %-25.25C{0} %4L | %m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.everis.training" level="DEBUG"/>

	<logger name="org.h2" level="WARN"/>
	<logger name="com.netflix" level="WARN"/>
	<logger name="org.hibernate" level="WARN"/>
	<logger name="org.springframework" level="WARN"/>
	<logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver" level="WARN"/>
	<logger name="ch.qos.logback" level="WARN"/>
	<logger name="org.apache.http" level="WARN"/>

	<logger name="com.github.tomakehurst.wiremock" level="WARN"/>

	<!-- For the WireMock API -->
	<logger name="/" level="ERROR"/>
	<logger name="/__admin" level="ERROR"/>

	<!-- For the WireMock notifier -->
	<logger name="WireMock" level="ERROR"/>

	<!-- For main WireMock shaded dependencies -->
	<logger name="wiremock.com" level="WARN"/>
	<logger name="wiremock.net" level="WARN"/>
	<logger name="wiremock.org" level="WARN"/>

	<!-- For WireMock standard Jetty -->
	<!--
	<logger name="org.eclipse.jetty.util.thread.QueuedThreadPool" level="ERROR" />
	 -->
	<!-- For WireMock shaded Jetty -->
	<logger name="wiremock.org.eclipse.jetty" level="ERROR"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE" />
	</root>
</configuration>